p {
    color: red;
}

a {
    color: blue;
}
body {
    border-style: Inset;
    border-color: saddlebrown;
    border-width: 9px;
    background-color: black;
    font-size: 14px;
    color: goldenrod;
    font-family: Georgia, 'Segoe UI', Arial;
    text-align: center;
}
div {
    text-align: center;
    }
ol {display: inline-block;text-align: left;
    border-style: groove;
    border-color:blue;
    border-radius: 20px;
    border-width: 10px;
    border-block-end-width: 10px;
}
ul {display: inline-block;text-align: left;
}
table {
    display: inline-block;text-align: left;
}
h1 {
 font-weight:bolder;
    font-size: 1.5em;
    background-color: rgb(20,20,60);
    margin: 20px;
    margin-right: 400px;
    margin-left: 400px;
    border-style: outset;
    padding: 20px;
}