p {
    color: red;
}

a {
    color: blue;
}
body {
    background-color: black;
    font-size: 16px;
    color: goldenrod;
    font-family: Chiller, 'Segoe UI', Arial;
    text-align: center;
}
div {
    text-align: center;
    }
ol {
    display: inline-block;text-align: left;
}
ul {display: inline-block;text-align: left;
}
table {
    display: inline-block;text-align: left;
}
h1 {
    font-weight:bolder:
    font-size: 1.5em;
    background-color: #dff;
    margin: 20px;
    margin-right: 400px;
    margin-left: 400px;
    padding: 20px;